Notebook prepared by Muhammad Sohail Abbas sohail.abbas@isb.nu.edu.pk

# Programming for Artificial Intelligence Lab 05

In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\muhammad_sohail\anaconda3\lib\site-packages (1.4.3)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python (c:\users\muhammad_sohail\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\muhammad_sohail\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\muhammad_sohail\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\muhammad_sohail\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\muhammad_sohail\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\muhammad_sohail\anaconda3\lib\site-packages)

Requirement already satisfied: numpy>=1.18.5 in c:\users\muhammad_sohail\anaconda3\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\muhammad_sohail\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\muhammad_sohail\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\muhammad_sohail\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

# What is DataFrame?

In [3]:
data={"name":["Bill","Tom","Tim","John","Alex","Vanessa","Kate"],
      "score":[90,80,85,75,95,60,65],
      "sport":["Wrestling","Football","Skiing","Swimming","Tennis",
               "Karete","Surfing"],
      "gender":["M","M","M","M","F","F","F"]}

In [4]:
df=pd.DataFrame(data)

In [5]:
df.head()

   name  score      sport gender
0  Bill     90  Wrestling      M
1   Tom     80   Football      M
2   Tim     85     Skiing      M
3  John     75   Swimming      M
4  Alex     95     Tennis      F

In [6]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(7, 4)
7
4

In [7]:
df.tail()

      name  score     sport gender
2      Tim     85    Skiing      M
3     John     75  Swimming      M
4     Alex     95    Tennis      F
5  Vanessa     60    Karete      F
6     Kate     65   Surfing      F

Change column positions while creating dataframe

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"])
df

      name      sport gender  score  age
0     Bill  Wrestling      M     90  NaN
1      Tom   Football      M     80  NaN
2      Tim     Skiing      M     85  NaN
3     John   Swimming      M     75  NaN
4     Alex     Tennis      F     95  NaN
5  Vanessa     Karete      F     60  NaN
6     Kate    Surfing      F     65  NaN

Specify indexes

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"],
                index=["one","two","three","four","five","six","seven"])
df

          name      sport gender  score  age
one       Bill  Wrestling      M     90  NaN
two        Tom   Football      M     80  NaN
three      Tim     Skiing      M     85  NaN
four      John   Swimming      M     75  NaN
five      Alex     Tennis      F     95  NaN
six    Vanessa     Karete      F     60  NaN
seven     Kate    Surfing      F     65  NaN

In [ ]:
df["score"]

one      90
two      80
three    85
four     75
five     95
six      60
seven    65
Name: score, dtype: int64

In [ ]:
df.loc[["one"]]

     name      sport gender  score  age
one  Bill  Wrestling      M     90  NaN

In [ ]:
df.loc[["one","two"]]

     name      sport gender  score  age
one  Bill  Wrestling      M     90  NaN
two   Tom   Football      M     80  NaN

In [ ]:
df=pd.DataFrame(data,columns=["name", "sport", "gender", "score", "age"],
                index=["one","two","three","four","five","six","seven"])
values=[18,19,20,18,17,17,18]
df["age"]=values
df

          name      sport gender  score  age
one       Bill  Wrestling      M     90   18
two        Tom   Football      M     80   19
three      Tim     Skiing      M     85   20
four      John   Swimming      M     75   18
five      Alex     Tennis      F     95   17
six    Vanessa     Karete      F     60   17
seven     Kate    Surfing      F     65   18

In [ ]:
df["pass"]=df.score>=70
df

          name      sport gender  score  age   pass
one       Bill  Wrestling      M     90   18   True
two        Tom   Football      M     80   19   True
three      Tim     Skiing      M     85   20   True
four      John   Swimming      M     75   18   True
five      Alex     Tennis      F     95   17   True
six    Vanessa     Karete      F     60   17  False
seven     Kate    Surfing      F     65   18  False

# Series Data Structure

In [ ]:
obj=pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [ ]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [ ]:
obj2=pd.Series([1,"John",3.5,"Hey"],index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [ ]:
obj2["b"]

'John'

# Working with Series Data Structure

### for ubuntu

In [ ]:
!wget https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
games=pd.read_csv("/content/vgsalesGlobale.csv", sep=',')

### for windows

In [ ]:
import requests
import pandas as pd
url = "https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv"
response = requests.get(url)

if response.status_code == 200:
    with open("vgsalesGlobale.csv", "wb") as file:
        file.write(response.content)
    print("File downloaded successfully.")
else:
    print("Failed to download the file.")

File downloaded successfully.

In [ ]:
games=pd.read_csv("vgsalesGlobale.csv", sep=',')

In [ ]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [ ]:
games.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [ ]:
games.Genre.describe()

count      16598
unique        12
top       Action
freq        3316
Name: Genre, dtype: object

In [ ]:
games.Genre.value_counts()

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

In [ ]:
games.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [ ]:
pd.crosstab(games.Genre, games.Year)

Year,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2020.0
Genre,,,,,,,,,,,,,,,,,,,,,
Action,1,25,18,7,1,2,6,2,2,2,...,272,226,239,266,148,186,255,119,1,0
Adventure,0,0,0,1,0,0,0,1,0,0,...,141,154,108,58,60,75,54,34,0,0
Fighting,1,0,0,0,0,1,0,2,0,0,...,53,40,50,29,20,23,21,14,0,0
Misc,4,0,1,1,1,0,0,0,0,1,...,207,201,184,38,42,41,39,18,0,0
Platform,0,3,5,5,1,4,6,2,4,3,...,29,31,37,12,37,10,14,10,0,0
Puzzle,0,2,3,1,3,4,0,0,1,5,...,79,45,43,11,3,8,6,0,0,0
Racing,0,1,2,0,3,0,1,0,1,0,...,84,57,65,30,16,27,19,20,0,0
Role-Playing,0,0,0,0,0,0,1,3,3,2,...,103,103,95,78,71,91,78,40,2,0
Shooter,2,10,5,1,3,1,4,2,1,1,...,91,81,94,48,59,47,34,32,0,0
Simulation,0,1,0,0,0,1,0,0,1,0,...,123,82,56,18,18,11,15,9,0,1
Sports,1,4,2,1,2,1,3,4,2,3,...,184,186,122,54,53,55,62,38,0,0
Strategy,0,0,0,0,0,0,0,0,0,0,...,65,53,46,15,19,8,17,10,0,0

In [ ]:
games.Global_Sales.mean()

0.53744065550074

# Summarizing & Computing Descriptive Statistics

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame([[2.4,np.nan],[6.3,-5.4],[np.nan,np.nan],[0.75,-1.3]],
                index=["a","b","c","d"],
                columns=["one","two"])
df

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df.sum()

one    9.45
two   -6.70
dtype: float64

In [ ]:
df.sum(axis=1)

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [ ]:
df.idxmax()

one    b
two    d
dtype: object

In [ ]:
df.idxmax(axis=1)

a    one
b    one
c    NaN
d    one
dtype: object

# Indexing & Selection & Filtering in Pandas

In [ ]:
obj=pd.Series(np.arange(5),
              index=["a","b","c","d","e"])

obj

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [ ]:
obj["c"]

2

In [ ]:
print(obj[["a","c"]])
print(obj[[0,2]])

a    0
c    2
dtype: int32
a    0
c    2
dtype: int32

# DataFrame Indexing

In [ ]:
data=pd.DataFrame(
    np.arange(16).reshape(4,4),
    index=["London","Paris","Berlin","Istanbul"],
    columns=["one","two","three","four"])
data

          one  two  three  four
London      0    1      2     3
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [ ]:
data[["one","two"]]

          one  two
London      0    1
Paris       4    5
Berlin      8    9
Istanbul   12   13

In [ ]:
data[:3]

        one  two  three  four
London    0    1      2     3
Paris     4    5      6     7
Berlin    8    9     10    11

In [ ]:
data[data["four"]>5]

          one  two  three  four
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

# Selecting with iloc and loc

In [ ]:
data.iloc[1:4]

          one  two  three  four
Paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [ ]:
data.iloc[1,[1,2,3]]

two      5
three    6
four     7
Name: Paris, dtype: int32

In [ ]:
data.iloc[[1,3],[1,3]]

          two  four
Paris       5     7
Istanbul   13    15

In [ ]:
data.loc["Paris",["one","two"]]

one    4
two    5
Name: Paris, dtype: int32

## Groupby

In [ ]:
# Sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 10, 20, 50, 60]}
df = pd.DataFrame(data)

# Grouping by the 'Category' column
grouped = df.groupby('Category')

# Now, you can perform various operations on each group
# For example, let's calculate the sum for each group:
grouped_sum = grouped['Value'].sum()
print(grouped_sum)

Category
A     70
B    100
Name: Value, dtype: int64

In [ ]:
print(grouped.describe())

         Value
         count       mean        std   min   25%   50%   75%   max
Category
A          3.0  23.333333  23.094011  10.0  10.0  10.0  30.0  50.0
B          3.0  33.333333  23.094011  20.0  20.0  20.0  40.0  60.0

In [ ]:
grouped.apply(print)

  Category  Value
0        A     10
2        A     10
4        A     50
  Category  Value
1        B     20
3        B     20
5        B     60

Empty DataFrame
Columns: []
Index: []

In [ ]:
for group_name, group_data in grouped:
    print(f'Group: {group_name}')
    print(group_data)
    print('\n')

Group: A
  Category  Value
0        A     10
2        A     10
4        A     50


Group: B
  Category  Value
1        B     20
3        B     20
5        B     60

In [ ]:
# Sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 10, 20, 50, 60]}
df = pd.DataFrame(data)

# Grouping by the 'Category' column
grouped = df.groupby(['Category','Value'])

# Now, you can perform various operations on each group
# For example, let's calculate the sum for each group:
grouped_sum = grouped['Value'].sum()
print(grouped_sum)

Category  Value
A         10       20
          50       50
B         20       40
          60       60
Name: Value, dtype: int64

In [ ]:
grouped.apply(print)

  Category  Value
0        A     10
2        A     10
  Category  Value
4        A     50
  Category  Value
1        B     20
3        B     20
  Category  Value
5        B     60

Empty DataFrame
Columns: []
Index: []

In [ ]:
for group_name, group_data in grouped:
    print(f'Group: {group_name}')
    print(group_data)
    print('\n')

Group: ('A', 10)
  Category  Value
0        A     10
2        A     10


Group: ('A', 50)
  Category  Value
4        A     50


Group: ('B', 20)
  Category  Value
1        B     20
3        B     20


Group: ('B', 60)
  Category  Value
5        B     60

# Lab Task 1

Import the libraries numpy and pandas

In [34]:
# YOUR CODE HERE
import pandas as pd
import numpy as np

* upload Match.csv
* use pd.read_csv(file_path) to read this file

In [13]:
# YOUR CODE HERE
data=pd.read_csv('Match.csv')
df=pd.DataFrame(data)
data

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,18-Apr-08,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,19-Apr-08,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,19-Apr-08,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India
3,335990,20-Apr-08,7,2,1,Wankhede Stadium,7,bat,0,1,0,by wickets,5.0,2.0,11.0,473,476,Mumbai,India
4,335991,20-Apr-08,1,8,1,Eden Gardens,8,bat,0,1,0,by wickets,5.0,1.0,4.0,474,486,Kolkata,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,981016,22-May-16,6,2,9,Shaheed Veer Narayan Singh International Stadium,2,field,0,1,0,by wickets,6.0,2.0,8.0,511,497,Raipur,India
573,981018,24-May-16,13,2,9,M Chinnaswamy Stadium,2,field,0,1,0,by wickets,4.0,2.0,110.0,495,482,Bangalore,India
574,981020,25-May-16,11,1,9,Feroz Shah Kotla,1,field,0,1,0,by runs,22.0,11.0,163.0,481,499,Delhi,India
575,981022,27-May-16,13,11,9,Feroz Shah Kotla,11,field,0,1,0,by wickets,4.0,11.0,187.0,481,498,Delhi,India
576,981024,29-May-16,2,11,9,M Chinnaswamy Stadium,11,bat,0,1,0,by runs,8.0,11.0,385.0,482,497,Bangalore,India

2. Display first five rows

In [12]:
# YOUR CODE HERE
df.head()

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,18-Apr-08,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,19-Apr-08,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,19-Apr-08,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India
3,335990,20-Apr-08,7,2,1,Wankhede Stadium,7,bat,0,1,0,by wickets,5.0,2.0,11.0,473,476,Mumbai,India
4,335991,20-Apr-08,1,8,1,Eden Gardens,8,bat,0,1,0,by wickets,5.0,1.0,4.0,474,486,Kolkata,India

3. Display the following columns with middle 10 rows

Match_Id, Team_Name_Id, Vanue_Name, Match_Winner_Id

In [26]:
# YOUR CODE HERE
rows=(df.shape[0])
rows=rows/2
extracted=['Match_Id','Team_Name_Id','Venue_Name','Match_Winner_Id']
print(df.loc[rows-5:rows+5,extracted])

     Match_Id  Team_Name_Id                       Venue_Name  Match_Winner_Id
284    548349             1                     Eden Gardens              1.0
285    548350             6                 Feroz Shah Kotla              6.0
286    548351             7                 Wankhede Stadium              7.0
287    548352             3  MA Chidambaram Stadium, Chepauk              1.0
288    548353             8                 Barabati Stadium              8.0
289    548354             5           Sawai Mansingh Stadium              6.0
290    548355             2            M Chinnaswamy Stadium              4.0
291    548356            10       Subrata Roy Sahara Stadium              7.0
292    548357             3  MA Chidambaram Stadium, Chepauk              3.0
293    548358             1                     Eden Gardens              1.0

4. How many vanues are there in dataset?

In [38]:
# YOUR CODE HERE
venues=df['Venue_Name']
venues=pd.DataFrame(venues)
venues=(np.unique(np.array(venues)))
print(len(venues))

35

6. Print the name of all the columns present in your dataset

In [25]:
# YOUR CODE HERE
col=list(df.columns.values)
print(col)

['Match_Id', 'Match_Date', 'Team_Name_Id', 'Opponent_Team_Id', 'Season_Id', 'Venue_Name', 'Toss_Winner_Id', 'Toss_Decision', 'IS_Superover', 'IS_Result', 'Is_DuckWorthLewis', 'Win_Type', 'Won_By', 'Match_Winner_Id', 'Man_Of_The_Match_Id', 'First_Umpire_Id', 'Second_Umpire_Id', 'City_Name', 'Host_Country']

7. Enlist winner team for each match

In [45]:
# YOUR CODE HERE
winner= df[['Match_Id','Match_Winner_Id']]
print(winner)

     Match_Id  Match_Winner_Id
0      335987              1.0
1      335988              3.0
2      335989              6.0
3      335990              2.0
4      335991              1.0
..        ...              ...
572    981016              2.0
573    981018              2.0
574    981020             11.0
575    981022             11.0
576    981024             11.0

[577 rows x 2 columns]

8. How many matches that are played in dehli are won by runs

In [61]:
# YOUR CODE HERE
win=df[df['City_Name']=='Delhi'].groupby('Win_Type').size()
count=win.get('by runs',0)
print(count)

24

9. Enlist all teams who have win the toss and won the match

In [75]:
# YOUR CODE HERE
toss=df.groupby(df['Match_Winner_Id'])['Toss_Winner_Id']
print(toss)
print(df[df['Match_Winner_Id']==df['Toss_Winner_Id']])

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7c207190fe50>
     Match_Id Match_Date  Team_Name_Id  Opponent_Team_Id  Season_Id  \
1      335988  19-Apr-08             4                 3          1
8      335995  24-Apr-08             8                 5          1
10     335997  26-Apr-08             2                 5          1
12     335999  27-Apr-08             7                 8          1
14     336001  28-Apr-08             2                 3          1
..        ...        ...           ...               ...        ...
570    981012  21-May-16            13                 7          9
572    981016  22-May-16             6                 2          9
573    981018  24-May-16            13                 2          9
575    981022  27-May-16            13                11          9
576    981024  29-May-16             2                11          9

                                           Venue_Name  Toss_Winner_Id  \
1          Punjab Cricket Association Stadium, Mohali               3
8           Rajiv Gandhi International Stadium, Uppal               5
10                              M Chinnaswamy Stadium               5
12                         Dr DY Patil Sports Academy               8
14                              M Chinnaswamy Stadium               3
..                                                ...             ...
570                                        Green Park              13
572  Shaheed Veer Narayan Singh International Stadium               2
573                             M Chinnaswamy Stadium               2
575                                  Feroz Shah Kotla              11
576                             M Chinnaswamy Stadium              11

    Toss_Decision  IS_Superover  IS_Result  Is_DuckWorthLewis    Win_Type  \
1             bat             0          1                  0     by runs
8           field             0          1                  0  by wickets
10          field             0          1                  0  by wickets
12          field             0          1                  0  by wickets
14            bat             0          1                  0     by runs
..            ...           ...        ...                ...         ...
570         field             0          1                  0  by wickets
572         field             0          1                  0  by wickets
573         field             0          1                  0  by wickets
575         field             0          1                  0  by wickets
576           bat             0          1                  0     by runs

     Won_By  Match_Winner_Id  Man_Of_The_Match_Id  First_Umpire_Id  \
1      33.0              3.0                 19.0              471
8       3.0              5.0                 31.0              470
10      7.0              5.0                 32.0              471
12     10.0              8.0                 53.0              470
14     13.0              3.0                 20.0              478
..      ...              ...                  ...              ...
570     6.0             13.0                 21.0              495
572     6.0              2.0                  8.0              511
573     4.0              2.0                110.0              495
575     4.0             11.0                187.0              481
576     8.0             11.0                385.0              482

     Second_Umpire_Id   City_Name Host_Country
1                 487  Chandigarh        India
8                 471   Hyderabad        India
10                475   Bangalore        India
12                487      Mumbai        India
14                513   Bangalore        India
..                ...         ...          ...
570               498      Kanpur        India
572               497      Raipur        India
573               482   Bangalore        India
575               498       Delhi        India
576               497   Bangalore        India

[291 rows x 19 columns]

10. What are the chances of a team to win if they are playing in dehli and lost the toss?

In [76]:
# YOUR CODE HERE
Lost=df.groupby(['City_Name','Win_Type'])
count=0
runs=0
wickets=0
for name,gp in Lost:
  if(name[0]=='Delhi' and name[1]=='by runs'):
    runs=gp.count()[0]
  if(name[0]=='Delhi' and name[1]=='by wickets'):
    wickets=gp.count()[0]
  count=count+1

SyntaxError: ignored

<center><h2 style="font-family: 'Vladimir Script', serif;">Happy Coding</h2></center>